*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    
}
li{
    list-style-type: none;
}
.text-center{
    text-align: center;
}
/* left-menu css */
.container{
    height: 100vh;
}
.left-menu{
    position: fixed;
    height: 100vh;
    border-right: 1px solid grey;
    padding: 125px 10px;
    width: 20%;
}
#profile{
    display: inline-block;
    margin-bottom: 10px;
}
#content{
    margin-top: 15px;
}
#content li{
    padding: 10px;
}
#content li a{
    color: black;
    opacity: 0.7;
}
#content li a:hover{
    color: #f9bf3b !important;
}
footer{
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding:  0 10px;
}
footer p{
    margin-bottom: 15px;
}
#icons a{
    display: inline-block;
    /*margin-right: 10px;*/
    border-right: 1px solid grey;
    text-decoration: none;
    padding: 0px 8px;
    /*margin-top: 10px;*/
    height: 20px;
    outline: none;
}
.social-icon:hover{
    color: #38A1F3;
}
#icons a:last-child{
    border: none;
}
/* main css */
.main-content{
   width: 50%;
   margin: 0 auto;
   font-size: 32px;
   height: 100vh;
   position: relative;
   top: 250px;
}
.main-content h1{
    margin-bottom: 25px;
}
/*Animation for text change */
#spin {
  color:black;
  font-size: 50px;
}
#spin:after {
  content:"";
  animation: spin 10s ease infinite;
}
@keyframes spin {
  0% { content:"Front End Developer !!"; }
  40% { content:"Learner"; }
  90% { content:"Maker"; }
}
/* end */
.primary-content{
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 100vh;
   position: relative;
   top: 250px;
}
.primary-content 
   h2{
    margin-bottom: 15px;
    font-size: 30px;
    opacity:0.5;
   }
 p{
  /*background-image: linear-gradient(
    to bottom,
    #9588DD,
    #9588DD 22px,
    #DD88C8 22px,
    #DD88C8 44px,
    #D3DD88 44px,
    #D3DD88 66px,
    #88B0DD 66px,
    #88B0DD);*/
    line-height: 2;
}
.quote{
    width: 500px;
    text-align: end;
    position: relative;
    right: -350px;
    top: 70px;
}
.quote q{
    font-size: 2em;
    font-weight: 500;
}
/* skills for developmment */
.dev-skills h2{
    margin-bottom: 30px;
}
.dev-skills li{
    float: left;
    margin-right: 20px;
    text-align: center;
    /*border: 1px solid grey;*/
    padding: 05px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(238, 238, 238, 1);
    margin-bottom: 30px;
}
.dev-skills:after{
    clear: left;
    content: "";
    display: block;
}